### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Docs ###
docs/java/

### artifacts ###
out/artifacts/

### Resources ###
/src/test/resources/config.json

### Target ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/